
:root {
    --primary-color:#ee4d2d;
    --primary-color-rgba:rgb(238,75,43);
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --border-color: #dbdbdbdb;
    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height:calc(var(--header-height) - var(--navbar-height));
    --star-gold-color: rgb(235, 202, 14);
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%; 
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;  
}
/* .grid {
    min-width: 1200px;
    max-width: 100%;
    margin: 0 auto;
} */
.grid__full-width {
    width: 100%;
}
/* .grid__row {
    display: flex;
    flex-wrap: wrap;

} */
/* test */
.grid__column-5 {
    padding-top: 12px;
    /* padding-left: 12px; */
    padding-right: 6px;
    width: 41.66667%;
}
.grid__column-4-4 {
    padding-left: 12px;
    padding-right: 12px;
    width: 25%;
}
.grid__column-7 {
    padding-top: 12px;
    padding-left: 6px;
    /* padding-right: 12px; */
    width: 58.33333%;
}
@keyframes headerNotify_mobile {
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }

}
/* Mobile  */
@media (max-width:739px) {
    
    .header__notify {
        left: 0;
        width: 300px!important;

    }
    .header__notify::before {
        left: 56px;
        right: 200px!important;

    }
    .hile-on-mobile{
        display: none!important;
    }
    .menu_mobile {
        display: block!important;
    }
    .header__navbar-list {
        width: 100%;
        position: absolute;
        left: 0;
        margin-top: 150px!important;
        margin-right: 0!important;;
    }
    .grid {
        width: 100%;
        display: block;
        padding: 0;
    }
    
    .grid.wide {
        max-width: 1200px;
        margin: 0 auto;
    }
    .header {
        height: 200px!important;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        /* margin-left: -4px;
        margin-right: -4px; */
    }
    .header__navbar--title-vnu {
        font-size: 2.5rem!important;
    }
    .header__navbar--title-uet {
        font-size: 1.8rem;
    }
    .contegory {
        height: 132%!important;
    }
    .wrapper {
        display: block!important;
        padding: 6px!important;
    }
    .wrapper__ampe {
        width: 100%!important;
        margin-bottom: 6px!important;
    }
    .wrapper__voltage {
        width: 100%!important;
    }
    .displays {
        position: relative;
        top: 400px;
        
        height:auto!important;
    }
    .wrapper__list {
        flex-direction: column;
        align-items: center;
        padding: 0!important;
        margin: 0!important;
    }
    .wrapper__item {
        flex-direction: column;
        width:97%!important;
        margin-bottom:6px;
        
    }
    .wrapper__cicrle {
        height: auto!important;
        width: auto!important;
    }
    .displays__header-date {
        
        height: auto!important;
        width: auto!important;
        padding: 0 5px;
    }
    .displays__header-time {
        height: auto!important;
        width: auto!important;
        padding: 0 5px;
    }
    .footer {
        margin-top: 404px!important;
        height: 100%!important;
    }
    .footer__bock {
        padding-left: 25px!important;
    }
    .grid__column-5 {
        padding-top: 6px;
    }
    .row.no-gutters {
        margin-left: 0;
        margin-right: 0;
    }
    
    .col {
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .row.no-gutters .col {
        padding-left: 0;
        padding-right: 0;
    }
    
    .c-0 {
        display: none;
    }
    
    .c-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    
    .c-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    
    .c-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .c-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .c-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .c-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .c-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .c-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .c-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .c-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .c-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .c-12 {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0px;
        padding-left:0px;
    }
    
    .c-o-1 {
        margin-left: 8.33333%;
    }
    
    .c-o-2 {
        margin-left: 16.66667%;
    }
    
    .c-o-3 {
        margin-left: 25%;
    }
    
    .c-o-4 {
        margin-left: 33.33333%;
    }
    
    .c-o-5 {
        margin-left: 41.66667%;
    }
    
    .c-o-6 {
        margin-left: 50%;
    }
    
    .c-o-7 {
        margin-left: 58.33333%;
    }
    
    .c-o-8 {
        margin-left: 66.66667%;
    }
    
    .c-o-9 {
        margin-left: 75%;
    }
    
    .c-o-10 {
        margin-left: 83.33333%;
    }
    
    .c-o-11 {
        margin-left: 91.66667%;
    }
}


/* >= Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .grid {
        width: 100%;
        display: block;
        padding: 0;
    }
    .header {
        position: relative;
    }
    .header__menu {
        position: absolute!important;
        width: 100%;
    }
    .hile-on-tablet{
        display: none!important;
    }
    .wrapper {
        
        position: relative;
        height: 30%!important;
    }
    .wrapper__text {
        font-size: 1.8rem!important;
    }
    .wrapper__ampe{
        height: auto!important;
        margin-left: 6px!important;
        padding-top: 10px;
        width: calc(50% - 10px)!important;
    }
    .wrapper__voltage {
        height: auto!important;
        width: calc(50% - 10px)!important;
        padding-top: 10px;
    }
    .wrapper__cicrle {
        height: auto!important;
        width: auto!important;
        
        padding-bottom: 10px;
        
    }
    .wrapper__bar_volt canvas {
        height: 150px!important;
        width: 150px!important;
    }
    .wrapper__bar_ampe canvas {
        height: 150px!important;
        width: 150px!important;
    }
    .wrapper__box span {
        font-size: 2rem!important;
    }
    .wrapper__footer {
        display: flex;
        justify-content: space-around;
    }
    .wrapper__list {
        padding-top: 0px!important;
        flex-wrap: wrap!important;
        margin-right: 0!important;
        margin-top: 12px!important;

    }
    .wrapper__item {
        margin-bottom: 5px!important;
        width: auto!important;
    }
    .wrapper__old {
        position: absolute;
    }
    .footer__item {
        display: flex;

    }
    .footer__item-text {
        font-size: 1.2rem!important;
    }
    .wide {
        min-width: 644px;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .m-0 {
        display: none;
    }

    .m-1,
    .m-2,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m-12 {
        display: block;
    }

    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;

    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .m-o-1 {
        margin-left: 8.33333%;
    }

    .m-o-2 {
        margin-left: 16.66667%;
    }

    .m-o-3 {
        margin-left: 25%;
    }

    .m-o-4 {
        margin-left: 33.33333%;
    }

    .m-o-5 {
        margin-left: 41.66667%;
    }

    .m-o-6 {
        margin-left: 50%;
    }

    .m-o-7 {
        margin-left: 58.33333%;
    }

    .m-o-8 {
        margin-left: 66.66667%;
    }

    .m-o-9 {
        margin-left: 75%;
    }

    .m-o-10 {
        margin-left: 83.33333%;
    }

    .m-o-11 {
        margin-left: 91.66667%;
    }
}


/* PC medium resolution > */
@media (min-width: 1024px) {
    .hile-on-pc{
        display: none;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        /* margin-left: -12px;
        margin-right: -12px; */
    }
    .wrapper__bar_volt canvas {
        height: 200px!important;
        width: 200px!important;
    }
    .wrapper__bar_ampe canvas {
        height: 200px!important;
        width: 200px!important;
    }
    .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .l-0 {
        display: none;
    }

    .l-1,
    .l-2,
    .l-2-4,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12 {
        display: block;
    }

    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .l-o-1 {
        margin-left: 8.33333%;
    }

    .l-o-2 {
        margin-left: 16.66667%;
    }

    .l-o-3 {
        margin-left: 25%;
    }

    .l-o-4 {
        margin-left: 33.33333%;
    }

    .l-o-5 {
        margin-left: 41.66667%;
    }

    .l-o-6 {
        margin-left: 50%;
    }

    .l-o-7 {
        margin-left: 58.33333%;
    }

    .l-o-8 {
        margin-left: 66.66667%;
    }

    .l-o-9 {
        margin-left: 75%;
    }

    .l-o-10 {
        margin-left: 83.33333%;
    }

    .l-o-11 {
        margin-left: 91.66667%;
    }
}



